@import "../base/_variables.scss";

.collapse {
	max-width: 1240px;
	width: 95%;
	margin: 30px auto;
	background-color: $grey-medium;
	border-radius: $radius-small;
	cursor: pointer;
	position: relative;

	&__title {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		color: white;
		background-color: $color-primary;
		border-radius: $radius-small;
		font-size: 24px;
		font-weight: $font-weight-bold;

		@media only screen and (max-width: $bp-tablet) {
			padding: 10px;
			font-size: 13px;
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		padding: 20px;
		font-size: 18px;
		height: auto;
		visibility: visible;
		transform: translateY(0);
		transition: all 0.3s linear;

		@media only screen and (max-width: $bp-tablet) {
			padding: 15px;
			font-size: 12px;
		}

		p {
			margin: 3px;
		}

		&--hidden {
			height: 0;
			visibility: hidden;
			transform: translateY(-64px);
		}
	}

	.arrow {
		transition: all 0.2s linear;

		@media only screen and (max-width: $bp-tablet) {
			width: 18px;
		}
		&--up {
			transform: rotate(180deg);
		}
	}
}
