@import "../base/_variables.scss";

.collapse {
	max-width: 1240px;
	width: 95%;
	margin: 30px auto;
	background-color: $grey-medium;
	border-radius: $radius-small;
	cursor: pointer;

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		color: white;
		background-color: $color-primary;
		border-radius: $radius-small;
		font-size: 24px;
		font-weight: $font-weight-bold;
		@media only screen and (max-width: $bp-tablet) {
			padding: 10px;
			font-size: 13px;
		}
	}

	&__content {
		padding: 20px;
		font-size: 18px;

		@media only screen and (max-width: $bp-tablet) {
			padding: 15px;
			font-size: 12px;
		}

		p {
			margin-bottom: 3px;
		}

		&--hidden {
			display: none;
		}
	}

	.arrow {
		@media only screen and (max-width: $bp-tablet) {
			width: 18px;
		}
		&--up {
			transform: rotate(180deg);
		}
	}
}
