@import "../base/_variables.scss";

.slideshow {
	position: relative;
	max-width: 1240px;
	width: 95%;
	margin: auto;
	height: 415px;
	border-radius: $radius-big;
	background-position: center;

	@media only screen and (max-width: $bp-tablet) {
		height: 255px;
	}

	&__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;

		@media only screen and (max-width: $bp-tablet) {
			height: 25px;
		}

		&--left {
			left: 25px;

			@media only screen and (max-width: $bp-tablet) {
				left: 10px;
			}
		}

		&--right {
			right: 25px;

			@media only screen and (max-width: $bp-tablet) {
				right: 10px;
			}
		}
	}

	&__counter {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		color: white;
		font-size: 18px;

		@media only screen and (max-width: $bp-tablet) {
			display: none;
		}
	}
}
