// COLOR VARIABLES

$color-primary: #ff6060;
$grey-light: #fafafa;
$grey-medium: #f6f6f6;
$grey-dark: #c4c4c4;

// FONT VARIABLES

$font-primary: "Montserrat", sans-serif;
$font-body-size: 1rem;
$font-weight-regular: 400;
$font-weight-bold: 700;

// RESPONSIVE BREAKPOINTS

$bp-tablet: 810px;
